body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 20px;
    margin-bottom: 16px;

}

footer {
    background-color: greenyellow;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: red;

}

a:hover {
    color: green;
}

.lists {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

nav>a {
    color: white;
}

main>h1 {
    color: blue;
}

tr:nth-child(even) {
    background-color: rgb(224, 224, 224);

}
